body {
    background-image: url('../imgs/background-vector-7.svg'),
        url('../imgs/background-vector-6.svg'),
        url('../imgs/footer-svg.svg'),
        url('../imgs/background-vector-4.svg'),
        url('../imgs/background-vector-3.svg'),
        url('../imgs/background-vector-2.svg'),
        url('../imgs/background-vector-1.svg');
    background-repeat: no-repeat;
    background-position: bottom 1800px center, bottom 450px center, bottom center, top right, top right, top right, top right;
    background-size: auto 1750px, auto 1700px, auto 1000px, auto, auto, auto, auto;
    font-family: sans-serif;
    z-index: 10;
}

header {
    padding: 35px;
    color: white;
}

.left-side {
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    margin-right: 19%;
}

.left-side img {
    width: 219px;
}

.right-side {
    display: inline-block;
}

.right-side ul {
    display: inline-block;
}

.right-side li {
    display: inline-block;
    margin-right: 30px;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s;
}

.right-side li:hover {
    text-decoration: none;
}

.sign-in {
    margin-left: 100px;
}

.sign-up-button {
    background-color: white;
    color: black;
    width: 147px;
    height: 48px;
    border: 2px solid transparent;
    border-radius: 52px;
    font-weight: 600;
    margin-left: 30px;
    cursor: pointer;
    transition: all 0.2s;
}

.sign-up-button:hover {
    background-color: rgb(221, 221, 221);
    border: 2px solid black;
}

main {
    margin-top: 50px;
}

.first-section {
    padding: 20px;
    margin-bottom: 200px;
}

.first-section-main-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.first-section-left-side {
    max-width: 553px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
}

.first-section-left-side h5 {
    color: #2278d4;
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 5px;
}

.first-section-left-side h1 {
    font-weight: 500;
    font-size: 48px;
    max-width: 553px;
    width: 100%;
    line-height: 54px;
    margin-bottom: 30px;
}

.first-section-left-side p {
    color: #191B21;
    line-height: 24px;
    opacity: 0.6;
    max-width: 511px;
    width: 100%;
    margin-bottom: 40px;
}

.first-section-left-side button {
    max-width: 147px;
    width: 100%;
    height: 48px;
    border-radius: 52px;
    background-color: #22A75D;
    color: white;
    border: 2px solid transparent;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.2s;
}

.first-section-left-side button:hover {
    background-color: #1b854b;
}

.first-section-right-side {
    margin-left: 200px;
    vertical-align: middle;
    display: inline-block;
    max-width: 442px;
    width: 100%;
    height: 785px;
    background-image: url('../imgs/background-person-2.png'), url('../imgs/background-person-1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left 80px top, left 200px top;
}

.second-section {
    padding: 20px;
    background-image: url('../imgs/background-vector-5.svg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 100px;
}

.second-section-first-container {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.second-section-card {
    max-width: 650px;
    width: 100%;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(242, 240, 244, 0.95);
    padding: 10px 10px 0 10px;
    display: inline-block;
    vertical-align: middle;
    height: 900px;
    overflow: hidden;
    margin: 0 auto;
    margin-right: 120px;
}

.card2 {
    margin-right: 0;
}

.second-section-card h2 {
    color: #191B21;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 134px;
}

.second-section-card h2 .green-accent {
    color: #22A75D;
    text-decoration: underline;
}

.second-section-card h2 .blue-accent {
    color: #2278d4;
    text-decoration: underline;
}

.second-section-card p {
    max-width: 644px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 67px;
    opacity: 0.6;
}

.second-section-second-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 135px;
}

.second-section-second-container .left-side {
    display: inline-block;
    margin-right: 80px;
    vertical-align: top;
}

.second-section-second-container .left-side img {
    max-width: 55px;
    width: 100%;
    vertical-align: top;
    margin-right: 77px;
}

.second-section-second-container .left-side h2 {
    max-width: 356px;
    width: 100%;
    color: #F7F5F9;
    font-size: 48px;
    font-weight: 500;
    line-height: 54px;
    display: inline-block;
}

.second-section-second-container .right-side {
    display: inline-block;
    background-image: url('../imgs/scrollbar-svg.svg'), url('../imgs/scrollbar-thumb-svg.svg');
    background-repeat: no-repeat;
    background-size: contain, 8px;
    background-position: right, top right;
}

.second-section-second-container .right-side h5 {
    max-width: 645px;
    width: 100%;
    color: white;
    opacity: 0.6;
    font-weight: 600;
    margin-bottom: 30px;
}

.second-section-second-container .right-side p {
    max-width: 600px;
    width: 100%;
    color: white;
    opacity: 0.6;
    margin-right: 10px;
    line-height: 24px;
}

.second-section-second-container .right-side p span {
    font-weight: 600;
}

.third-section {
    padding: 10px;
    background-image: url('../imgs/paper-airplane.svg');
    background-repeat: no-repeat;
    background-size: 257px 155px;
    background-position: right 20px top;
}

.lists-container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
    margin-top: 249px;
}

.lists-container ol {
    display: inline-block;
    vertical-align: top;
    max-width: 300px;
    width: 100%;
    list-style-type: decimal-leading-zero;
    margin-right: 45px;
}

.lists-container .list4 {
    margin-right: 0;
}

.lists-container ol li {
    color: #191B21;
    max-width: 300px;
    width: 100%;
    font-size: 18px;
    opacity: 0.7;
    margin-bottom: 20px;
}

.lists-container ol li::marker {
    color: #2278D4;
    font-size: 17px;
    font-weight: 600;
}

.fourth-section {
    padding: 10px;
    margin-top: 503px;
    margin-bottom: 65px;
}

.fourth-section-main-container {
    max-width: 1350px;
    width: 100%;
    margin: 0 auto;
}

.fourth-section-left-side {
    max-width: 500px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

.fourth-section-left-side h2 {
    color: #191B21;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}

.fourth-section-left-side p {
    color: #191B21;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: 0.6;
    margin-bottom: 20px;
}

.fourth-section-left-side .darker-text {
    font-weight: 600;
    margin-top: 40px;
}


.fourth-section-left-side .darker-text1 {
    margin-bottom: 20px;
}

.fourth-section-right-side {
    display: inline-block;
    max-width: 840px;
    width: 100%;
    height: 900px;
    background-image: url('../imgs/spaceship.svg'), url('../imgs/cloud-1.svg'), url('../imgs/cloud-2.svg'), url('../imgs/white-background.svg');
    background-repeat: no-repeat;
    background-size: 712px 746px, 190px 147px, 271px 237px, 700px 900px;
    background-position: left -100px bottom -50px, top 85px left 180px, right bottom 130px, right 28px center;
}

.fifth-section {
    padding: 10px;
    color: white;
    background-image: url('../imgs/cloud-3.svg'), url('../imgs/spaceship2.svg');
    background-repeat: no-repeat;
    background-size: 301px 207px, 500px 400px;
    background-position: left top 400px, right -120px top 340px;
}

.fifth-section-main-container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    margin-top: 443px;
    text-align: center;
}

.fifth-section-main-container h2 {
    color: white;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 40px;
}

.phases-cards {
    max-width: 411px;
    width: 100%;
    height: 485px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    background-repeat: no-repeat;
    background-position: top 67px left 55px;
    background-size: 273px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;

}

.phase-card01 {
    background-image: url('../imgs/01.svg');
}

.phase-card02 {
    background-image: url('../imgs/02.svg');
    margin-top: 60px;
    margin-bottom: 90px;
}

.phase-card03 {
    background-image: url('../imgs/03.svg');
    margin-right: 0;
}

.phases-cards h3 {
    margin-top: 160px;
    color: #191B21;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 5px;
}

.phases-cards-date {
    color: #191B21;
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 70px;
}

.phases-cards-currency {
    color: #191B21;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.8;
    margin-bottom: 20px;
}

.phases-cards-caps {
    color: #191B21;
    opacity: 0.8;
}

.phases-cards-caps span {
    font-weight: 600;
    margin-bottom: 10px;
}

.how-to-buy-container {
    margin-bottom: 324px;
}

.how-to-buy-container h2 {
    margin-bottom: 30px;
}

.how-to-buy-container p {
    margin-bottom: 10px;
}

.how-to-buy-container i {
    margin-bottom: 10px;
}

footer {
    padding: 120px 0 128px 0;
    text-align: center;
    height: auto;
    color: white;
}

.footer-top-part {
    margin-bottom: 128px;
}

.footer-top-part ul li {
    display: inline-block;
    font-weight: 700;
}

.footer-top-part ul .underline {
    text-decoration: underline;
}

.footer-top-part ul li .slash {
    margin-right: 66px;
    margin-left: 66px;
    font-weight: 700;
    opacity: 0.16;
    text-decoration: none;
}

.footer-bottom-part .img-container,
.icons,
.copyright {
    display: inline-block;
    vertical-align: middle;
}

.footer-bottom-part .img-container {
    margin-right: 293px;
}

.footer-bottom-part .icons {
    margin-right: 293px;
    text-align: center;
}

.footer-bottom-part .icons .icon {
    display: inline-block;
    padding: 10px;
    border: 2px solid rgba(255, 255, 255, 0.05);
    border-radius: 50%;
    font-size: 20px;
    margin-right: 10px;
}

.footer-bottom-part .copyright {
    text-align: right;
}

.footer-bottom-part .copyright img {
    vertical-align: middle;
}

.footer-bottom-part .copyright p {
    font-size: 14px;
    margin-bottom: 5px;
}

.footer-bottom-part .designer {
    font-size: 12px;
    font-weight: 600;
    text-decoration: underline;
    opacity: 0.6;
}